.root{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 160px;
  background: rgba(5, 10, 17, 0.82);
  z-index: 1;
}
body:has(.root) {
  overflow: hidden !important;
}
.menu{
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 30px;
}