.card{
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 50px 10px;
  width: 590px;
  gap: 20px;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  justify-content: center;
  transition: background 0.2s ease-in-out;
  &:hover{
    background: rgba(255, 255, 255, 0.01);
  }
  p{
    max-width: 240px;
    opacity: 0.3;
    font-weight: 300;
  }
}